   * {
       padding: 0;
       margin: 0;
       font-family: 'Poppins', sans-serif;
   }
   
   .header {
       min-height: 100vh;
       width: 100%;
       background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/banner.png);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       color: white;
   }
   
   nav {
       padding: 20px;
       /* position: absolute; */
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 0px 10px;
   }
   
   nav img {
       width: 150px;
   }
   
   .nav-links ul li a {
       text-decoration: none;
       list-style: none;
       font-size: 13px;
       color: white;
   }
   
   .nav-links {
       /* flex: 1; */
       /* text-align: right; */
   }
   
   .nav-links ul li {
       list-style: none;
       display: inline-block;
       margin: 0 15px;
   }
   
   .nav-links ul li::after {
       content: '';
       height: 2px;
       width: 0%;
       background: tomato;
       display: block;
       margin: auto;
       transition: 0.5s ease-in-out;
   }
   
   .nav-links ul li:hover::after {
       width: 100%;
   }
   
   .text-box {
       position: absolute;
       transform: translate(-50%, -50%);
       top: 50%;
       left: 50%;
       /* display: inline-block; */
       margin: auto;
       width: 90%;
       text-align: center;
       font-size: 16px;
       color: white;
   }
   
   .visit-btn {
       display: inline-block;
       /* height: 20px; */
       /* width: 100%; */
       background: transparent;
       border: 1px solid white;
       margin-top: 10px;
       text-decoration: none;
       padding: 12px 34px;
       /* position: relative; */
       cursor: pointer;
       transition: 0.6s;
       color: white;
   }
   
   .text-box h1 {
       font-size: 62px;
   }
   
   .visit-btn:hover {
       background: tomato;
       border: violet;
   }